*{
  box-sizing: border-box;
}
html,body{
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.container{
  /* border: 1px solid red; */
  max-width: 980px;
  padding: 0 16px;
  margin: 0 auto;
}
.header-inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header{
  /* border: 2px solid rgb(16, 16, 16); */
  padding: 16px 0;
}
.nav-left a, .nav-right a {
  text-decoration: none;
  margin-right: 18px;
  color: #202124;
  font-size: 15px;
}
.nav-right{
 display: flex; 
 align-items: center;
 gap: 12px;
}
.app-grid{
  width: 28px;
  height: 28px;
  background: repeating-linear-gradient(90deg,#444 0 2px,transparent 2px 6px);
  border: 1px solid rgb(18, 18, 18);
  border-radius: 4px;
}
.signin{
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  background-color: rgb(1, 143, 252);
  color: #ffff;
  font-weight: 600;
}
/* visually hidden for labels */
.visually-hidden{
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px.1px,1px,1px);
  white-space: nowrap;

}
.main-area{
  /* border: 2px solid blue; */
  display: flex;
  align-items: flex-start;
  min-height: 60vh;
}
.center-column{
  /* border: 3px solid olivedrab; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
}

/* logo for goole  */
.logo{
  /* border: 2.5px solid skyblue; */
  font-size: 6rem;
  word-spacing: -6px;
  font-weight: 400;
  margin: 0 0 16px;
}
.logo .g{
  color: #1a73e8;
}
.logo .o1, .logo .e{
  color:#ea4335; 
  transform:translateY(6px); 
  display:inline-block;
}
.logo .o2{
  color:#fbbc05; 
  transform:translateY(6px); 
  display:inline-block;
}
.logo .g2{
  color:#1a73e8; 
  transform:translateY(6px); 
  display:inline-block;
}
.logo .l{
  color:#34a853; 
  transform:translateY(6px); 
  display:inline-block;
}
.search-icon img{
  width: 30px;
  height: 30px;
}
.search-form{
  /* border: 2.75px solid magenta; */
  width: 100%;
  max-width: 640px;
}
.search-box{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 0px 1px 3px rgba(60,64,67,0.08);
  border-radius: 14px;
  background: #fff;
  padding: 0 16px;
  height: 56px;
  border: 1px solid #dfe1e5;
}
.search-box input{
  width:100%;
  outline: none;
  font-size: 16px;
  padding: 0 16px;
  text-align: center;
  border: white;
  border-radius: 12px;
}
.icon{
  width: 28px;
  height: 28px;
  background: none;
  border: 0;
  cursor: pointer;
}
.buttons{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 12px;
  margin-top: 18px;
  cursor: pointer;
}
.btn{
  border:1px solid #e0e0e0;
  padding: 6px 18px;
  background: #f2f2f2;
  cursor: pointer;

}

/* footer styling */
.site-footer{
  margin-top: 7rem;
  padding: 0 12px;
}
footer .container{
  /* border: 4px solid orchid; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* text-decoration: none;
  color: #000; */
  padding: 4px 12px;
  background: #e4e0e0;
  gap: 5px;
}
.footer-inner a{
  text-decoration: none;
  color: #000;
  margin-right: 12px;
}

@media (max-width:600px){
  .nav-left a {
    display: none;
  }
  .logo{
    font-size: 3.2rem ;
    letter-spacing: -4px;
    margin-top: 2rem;
  }
  .center-column{
    padding: 0 12px;
  }
  .header-inner{
    gap: 8px;
  }
  .search-icon img{
    width: 20px;
    height: 20px;
  }
  .icon-mic img{
    width: 20px;
    height: 20px;
  }

}